<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.My4thRobotApplication"
        tools:targetApi="31">
        <activity
            android:name=".Camera"
            android:exported="false" />
        <activity
            android:name=".intern.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".intern.MenuDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".AskMeActivity"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".InternActivity"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".CareerActivityUIDesigner"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".CareerActivityUXDesigner"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".CareerActivityDeveloper"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".CareerActivitySystemAnalyst"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".CourseActivity"
            android:exported="false"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".SlideAdapter"
            android:exported="true"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.My4thRobotApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>